.footer {
  height: 100px;
  background-color: rgba(black, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  &__copyright {
    @include font-primary();
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: rgba($color-white, 0.5);
  }
}
