.contacts {
  padding: 100px 0px;

  &__header {
  }

  &__subtitle {
    padding-top: 33px;
    padding-bottom: 50px;
  }

  &__form-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 420px);
    grid-template-rows: repeat(3, 60px);
    gap: 10px;

    textarea {
      grid-column-start: span 3;
      grid-row-start: span 2;
    }

    // Средние девайсы («таблетки», >= 768px < 991)
    @media (min-width: $screen-md) {
      grid-template-columns: repeat(3, 1fr);
    }

    // Средние девайсы («таблетки», >= 768px < 991)
    @media (max-width: $screen-sm-max) {
      grid-template-columns: repeat(1, 1fr);

      textarea {
        grid-column-start: span 1;
        grid-row-start: span 2;
      }
    }
  }

  &__info-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 635px);
    grid-template-rows: 60px;
    padding: 10px;
    gap: 10px;

    grid-auto-rows: 1fr;

    // Большие девайсы (большие десктопы, >= 1200px <= 1439)
    @media (min-width: $screen-xl) and (max-width: $screen-xl-max) {
      grid-template-columns: repeat(auto-fill, minmax(635px, 1fr));
    }
    // Большие девайсы (большие десктопы, >= 992px <= 1199)
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $screen-md-max) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.info-wrapper__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-wrapper__submit {
  width: 100%;
}

.feedback-item {
  display: flex;
  align-items: center;

  & + & {
    padding-left: 15px;
  }

  &__icon {
    display: inline-block;
    color: $color-primary;
    font-size: 16px;
    padding-right: 15px;
  }

  &__text {
    @include font-primary();
    font-size: 12px;
    font-weight: bold;
    color: rgba($color-secondary, 0.5);
    text-align: center;
  }
}
