.brand {
  display: inline-block;
  @include font-secondary;
  font-size: 100px;
  text-align: center;

  // Большие девайсы (большие десктопы, >= 992px <= 1199)
  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    font-size: 84px;
  }
  // Большие девайсы (большие десктопы, >= 992px <= 1199)
  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    font-size: 72px;
  }

  @media (max-width: $screen-sm) {
    font-size: 70px;
  }
}
